
.header__rightcomponent{
    float:right;
    /* display: inline-block; */
}
.header-logo{
    height: fit-content;
    width: 70px;
    text-align: center;
}
.header__img{
    height: 200px;
    background-image: url('https://thumbs.dreamstime.com/b/header-laptop-scattered-stationery-yellow-background-online-school-distance-education-concept-211955492.jpg');
}
/* Style the header with a grey background and some padding */
.header {
    /* overflow: hidden; */
    color: white;
    padding: 20px 10px;
    height: 100px;
    padding: 0px 150px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgb(53 48 48 / 36%);
    
  }
  
  /* Style the header links */
  .header__nav {
    background-color: white;
    text-decoration: none;
    color: rgb(26, 12, 82);
    float: left;
    text-align: center;
    margin: 40px 0px 10px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    /* display: inline-block; */
    position: relative;
    padding: 0rem .25rem;
  }
  
  /* Change the background color on mouse-over */
  .header__nav:hover {
    color: rgb(109, 107, 106);
  border-bottom: 5px solid rgb(124, 121, 121);
  transition: 0.3s ease-in;
  opacity: 1;
}

/* Style the active/current link*/
.header__nav:active {
  transition: 0.1s ease-in-out;
  background-color: rgb(194, 202, 209);
  color: white;
}
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header img.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  
  /* Float the link section to the right */
  .header-right {
    /* font-size: .5rem; */
    float: right;
    margin-right: 3rem;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header__nav {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }


.link{
    padding: 0px;
    background-color: white;
    border: none;
    outline: none;
    text-transform: uppercase;
  }
.link:focus{
    outline: none;
  }
  .dropdown__wrapper{
    position: relative;
  }
  .dropdown__menu{
    cursor: pointer;
    left: -50px;
    font-size: 15px;
    width: 160px;
    position: absolute;
    top: calc(100%);
    background-color: bisque;
    /* padding: .75rem; */
    border-radius: .25rem;
    box-shadow: 0 5px 15px 0 rgba(109, 107, 106,.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 150ms ease-in-out,transform 150ms ease-in-out;
    pointer-events: none;
    z-index: 1; /* do uu tien */
}

  .dropdown__wrapper>.link:focus + .dropdown__menu{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }
   .dropdown__menu:hover{
    /* background-color: rgb(95, 89, 89); */
    pointer-events: auto;
  } 
  .dropdown__menu:focus{ /* phải hover để bật pointer event lên rồi mới focus được */
    background-color: rgb(0, 0, 0);
    color: white;
    transform: translateX(10px);
  } 
  
  .dropdown__menu > .dropdown__content{
    padding: .5rem 0rem;
  }
  .dropdown__menu > .dropdown__content:hover{
    background-color: rgb(95, 89, 89);
    /* color: white; */
    pointer-events: auto;
  }