

.header{
    max-height: fit-content;
    width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    background: linear-gradient(to right,whitesmoke,#94baf3c2,whitesmoke ) ;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px 0px rgb(53 48 48 / 36%)
}
.header-logo{
    height: fit-content;
    width: 70px;
    text-align: center;
}
#header-searchbar{
    box-sizing: border-box;
    text-align: center;
    cursor: text;
    border-radius: 15px  0px 0px 15px;
    height: min-content;
    font-size: x-large;
    padding: 3px 20px;
    border: solid 0px  ;
    text-align: left;
    background-color: #ffffff;
    outline: none; /*cái này dùng để xóa viền khi click vào input*/
}
.header-searchform{ 
    box-sizing: border-box;
}
.header-searchform form button{
    background-color: whitesmoke;
    text-align: center;
    cursor: pointer;
    font-size: x-large;
    padding: 2px 2px;
    border: solid 1px whitesmoke;
    text-align: left;
    border-radius: 0px 3px 3px 0px;
    outline: none;  /*cái này dùng để xóa viền khi click vào button*/
}
.header-searchform form button:hover{
    box-shadow: 2px 0px rgb(189, 168, 168)
    
}


.header-icons{
    color: rgb(31, 26, 59);
    cursor: pointer;
    padding-top: 5px;
}

.header-boxes{
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-right: 0px;
    padding: 3px;
    align-content: center;
    text-transform: uppercase;
}
.header h4{
    margin: 0px 0px;
    font-size: x-small;
    color: rgb(0, 0, 0);
}
.header-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
    background-color: white;
    padding: 10px 5% 5px;
    margin-bottom: 10px;
}

.banner-boxes{
    width: 100px;
    height: 100px;
    font-size: 14px;
    align-content: center;
}
.banner-icons{
    width: 49px;
    height: 49px;
    margin-left: 6px;    
}


/* loginform */
.center{
    top: 50%;
    left: 50%;
}
.popup{
    letter-spacing: 1px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    padding: 30px 20px;
    box-shadow: 2px 2px 5px 5px rgba(106, 104, 104, 0.15);
    border-radius: 4px;
}
.popup:active{

}
.popup .close-btn{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    /* background-color: #888; */
    color: red;
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    border: 0.5px solid rgb(154, 154, 154);
    border-radius: 30px 30px 4px 4px;
}
.popup .close-btn:hover{
    box-shadow: 1px 1px 4px #3a4b5a;
}
.popup .close-btn:active{
    transform: translateY(3px);
}
.popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 20px;
    font-size: 25px;
}
.popup .form .form-element{
    margin: 15px 0px;
}
.popup .form .form-element label{
    font-size:14px;
    color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
.popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.popup .form .form-element button{
    margin: 0px 30%;
    width: 40%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}
.popup .form .form-element a{
    display: block;
    text-align: right;
    font-size: 15px;
    color: #1a79ca;
    font-weight: 500;
    margin-left: auto;
    width: 150px;
}